
<div style="padding: 13px;">
    <mat-spinner *ngIf="games.length === 0"></mat-spinner>

    <div class='md-padding' layout="row" flex>
        <div layout="row" style="display: flex; flex-wrap: wrap; justify-content: space-around;">
            <div class="parent" style="width: 240px" layout="column" *ngFor="let game of games" flex>
                <mat-card style="margin-top:11px;">
                    <mat-card-header classes="header">
                        <mat-card-title class="header__name">{{game.name}}</mat-card-title>
                        <mat-card-title class="header__released">
                            <span>Released:</span>
                            {{game.released}}
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            {{game.description}}
                        </p>
                        <img style="height:100%; width: 100%;" src="{{ game.background_image }}" />
                    </mat-card-content>
                    <mat-card-actions>
                        <div>
                            <ngb-rating class="star-rating-wrapper" [max]="5" [(rate)]="game.rating_top" [readonly]="false"></ngb-rating>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>